---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Frame from '../components/PictureFrame.astro';
---

<Layout title="Rintima Lingerie">
	<hr class="hr-line" style='width:80%;'>
	<hr class="hr-line" style='width:60%;'>
	<hr class="hr-line" style='width:40%;'>
		
		<div class="grid">


			<div class="first-card flex">
				<Card
					title="Who are we?"
					body="A Lingerie, Swimwear, Beachwear and Underwear boutique with over 26 years of experience"
				/>
			</div>

			<div class="first-frames flex">
          <Frame class="frame-box-border frame-window frame-x-overlap-right" imagePath='/src/assets/frames/bodouir-female-1.jpg' altText='Framed picture' />
          <Frame class="frame-box-border frame-square frame-x-overlap-left " imagePath='/src/assets/frames/beach-female-1.jpg' altText='Framed picture' />
      </div>

			<div class="second-card flex">
				<Card
					title="What we do."
					body="We assist you in selecting garments that fit you, your style, your comfort"
				/>
			</div>

			<div class="second-frames flex">
        <Frame class="frame-box-border frame-oval frame-x-overlap-right " imagePath='/src/assets/frames/beach-male-1.jpg' altText='Framed picture' />
				<Frame class="frame-box-border frame-window-reversed frame-x-overlap-left" imagePath='/src/assets/frames/beach-female-2.jpg' altText='Framed picture' />
				
			</div>

			<div class="third-card flex">
				<Card
					title="Our brands."
					body="Premium, hand selected collections, to empower you, bolden you, functional or just cosy"
				/>
			</div>

      <div class="third-frames flex">

        <!-- Chantelle -->
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="100" viewBox="0 0 128 16" fill="black">
          <path d="M128 15.7407V13.0159H120.647V9.14545H127.346V6.68073H120.647V3.76137H128V1.03695H117.439V15.7407H128ZM115.541 15.7407V12.7997H108.623V1.03695H105.416V15.7407H115.541ZM103.474 15.7407V12.7997H96.5569V1.03695H93.3492V15.7407H103.474ZM90.6434 15.7407V13.0159H83.2896V9.14545H89.9887V6.68073H83.2896V3.76137H90.6434V1.03695H80.0819V15.7407H90.6434ZM73.1431 15.7407V3.82646H78.1619V1.03695H64.9384V3.82646H69.9572V15.7407H73.1431ZM59.8321 11.308L52.4132 1.03695H48.9654V15.7407H52.1513V5.46961L59.5702 15.7407H63.018V1.03695H59.8321V11.308ZM39.2772 4.28041L41.4372 9.68609H37.095L39.2772 4.28041ZM47.1545 15.7407L41.0662 1.03695H37.5097L31.4214 15.7407H34.6509L36.0259 12.3242H42.4845L43.8595 15.7407H47.1545ZM26.4246 6.5293H19.2239V1.03695H16.0162V15.7407H19.2239V9.29689H26.4246V15.7407H29.6105V1.03695H26.4246V6.5293ZM7.11341 16C9.03371 16 11.3029 15.2864 13.2232 14.1619V10.6375L11.1501 11.8483C9.90638 12.5835 8.33529 13.1242 7.13523 13.1242C4.90937 13.1242 3.31645 11.481 3.31645 8.38864C3.31645 5.27501 4.95302 3.65345 7.20071 3.65345C8.37894 3.65345 9.92821 4.19408 11.1501 4.90739L13.2232 6.11851V2.61534C11.3029 1.49124 9.03371 0.777588 7.11341 0.777588C3.09854 0.777588 0 3.54518 0 8.38864C0 13.2324 3.09854 16 7.11341 16Z" fill="#1D1D1B"/>
          </svg>

        <!-- Falke -->
        <svg xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 516.74 120.36" fill="black" width="200" height="100">
          <path d="M381.87,205.84a4,4,0,1,1,0-8c2.53,0,4.3,1.6,4.3,4s-1.77,4-4.3,4m-3.62-13.76a3.62,3.62,0,1,1,3.62,3.53,3.38,3.38,0,0,1-3.62-3.53m7.07,4.67v-.05a5.39,5.39,0,0,0,2.95-4.79c0-3.29-2.7-5.81-6.4-5.81s-6.39,2.52-6.39,5.81a5.4,5.4,0,0,0,2.94,4.79v.05A5.58,5.58,0,0,0,374.8,202c0,3.62,2.82,6.31,7.07,6.31s7.07-2.69,7.07-6.31a5.58,5.58,0,0,0-3.62-5.22" transform="translate(-22.34 -88.07)"/><path d="M434.48,193.84a5.32,5.32,0,0,0-4.42,1.81H430l.68-6.61H440v-2.48H428.33l-1.09,12.25h2.86a4,4,0,0,1,3.87-2.57,4.43,4.43,0,0,1,4.42,4.76c0,3-1.73,4.8-4.5,4.8a3.8,3.8,0,0,1-4-3.41h-2.74c0,2.77,2.23,5.89,6.78,5.89a6.93,6.93,0,0,0,7.24-7.28,6.83,6.83,0,0,0-6.69-7.16" transform="translate(-22.34 -88.07)"/><path d="M407.27,198.09c-2.4,0-4.29-2-4.29-4.79s1.85-4.84,4.29-4.84,4.25,2,4.25,4.84-1.81,4.79-4.25,4.79m-.17-12c-4,0-6.9,3-6.9,7.32s2.69,7.11,6.77,7.11A5.63,5.63,0,0,0,412,197.8h.08c-.17,5.13-4.08,9.13-10.1,8v2.48c8.08,1.14,12.88-4.46,12.88-12.21,0-5.34-2.53-10-7.79-10" transform="translate(-22.34 -88.07)"/><polygon points="299.08 108 299.04 108 293.06 98.49 289.86 98.49 297.57 110.86 297.57 119.79 300.34 119.79 300.34 110.86 308 98.49 304.89 98.49 299.08 108"/><polygon points="274.42 115.66 274.38 115.66 264.11 98.49 260.11 98.49 260.11 119.79 262.93 119.79 262.93 101.27 262.97 101.27 273.91 119.79 277.2 119.79 277.2 98.49 274.42 98.49 274.42 115.66"/><path d="M255.89,199.69l3.87-10.31h.09l3.89,10.31Zm2.4-13.13-8.42,21.3h2.95l2.13-5.69h9.73l2.15,5.69h3.08l-8.34-21.3Z" transform="translate(-22.34 -88.07)"/><polygon points="203.88 116.67 203.84 116.67 197.36 98.49 192.85 98.49 192.85 119.79 195.46 119.79 195.46 100.81 195.55 100.81 202.28 119.79 205.35 119.79 212.09 100.81 212.13 100.81 212.13 119.79 214.87 119.79 214.87 98.49 210.49 98.49 203.88 116.67"/><path d="M187,189.09h6.82a3.93,3.93,0,1,1,0,7.83H187Zm7.87,9.26.64.9a6.11,6.11,0,0,0,5.38-6.25,6.47,6.47,0,0,0-6.73-6.44h-10v21.3H187V199.4h5.47l-.71-1.05Z" transform="translate(-22.34 -88.07)"/><path d="M193.94,199.4h-1.48l5.73,8.46h3.28v-.09l-6-8.52a8.87,8.87,0,0,1-1.56.15" transform="translate(-22.34 -88.07)"/><path d="M195.5,199.25l-.64-.9h-3.11l.71,1.05h1.48a9,9,0,0,0,1.56-.15" transform="translate(-22.34 -88.07)"/><polygon points="132.88 119.79 146.98 119.79 146.98 117.26 135.62 117.26 135.62 110.11 146.05 110.11 146.05 107.58 135.62 107.58 135.62 100.97 146.98 100.97 146.98 98.49 132.88 98.49 132.88 119.79"/><path d="M129.88,199.27h7.62c-.17,3.92-2.57,6.52-6.9,6.52s-7.41-2.81-7.41-8.58c0-5.39,3.07-8.63,7.41-8.63,4,0,6.06,2.11,6.6,4.08h3.12c-.59-3.07-3.87-6.56-9.72-6.56s-10.35,4.46-10.35,11.11c0,7.07,4.2,11.11,10.35,11.11,6.56,0,9.93-4.46,9.93-10.48v-1.05H129.88Z" transform="translate(-22.34 -88.07)"/><polygon points="331.21 103.92 331.21 107.08 331.3 107.08 336.69 101.9 336.77 101.9 336.77 119.79 339.42 119.79 339.42 98.45 337.02 98.45 331.21 103.92"/><polygon points="0 56.36 0 0.03 43.81 0.03 43.81 13.17 18.46 13.17 18.46 23.42 38.65 23.42 38.65 36.57 18.46 36.57 18.46 56.36 0 56.36"/><path d="M146.78,144.41l2.11-7.44h18.39l2.19,7.44h18.39L167.67,88.07H148.89l-20.18,56.34Zm17.29-19.17H152.41l5.71-20.19Z" transform="translate(-22.34 -88.07)"/><polygon points="232.33 56.34 232.33 0 250.8 0 250.8 43.19 276.15 43.19 276.15 56.34 232.33 56.34"/><polygon points="344.45 0 362.92 0 362.92 18.23 379.11 0 400.79 0 380.21 21.2 402.98 56.34 380.84 56.34 367.3 33.88 362.92 38.5 362.92 56.34 344.45 56.34 344.45 0"/><polygon points="469.72 56.34 469.72 0 515.64 0 515.64 13.15 488.18 13.15 488.18 21.2 511.42 21.2 511.42 34.35 488.18 34.35 488.18 43.19 516.74 43.19 516.74 56.34 469.72 56.34"/>
        </svg>

        <!-- Filidoro -->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="100" viewBox="0 0 245.598 101.621">
          <defs>
          <clipPath id="clip-path">
          <rect id="Rectangle_7" data-name="Rectangle 7" width="245.598" height="101.621" fill="#222020"></rect>
          </clipPath>
          </defs>
          <g id="Group_2" data-name="Group 2" clip-path="url(#clip-path)">
          <path id="Path_6" data-name="Path 6" d="M238.28,27.481h-.471a3.932,3.932,0,0,0,4.012,3.773,3.774,3.774,0,1,0,0-7.548,3.933,3.933,0,0,0-4.012,3.775h.471a3.427,3.427,0,0,1,3.541-3.3,3.3,3.3,0,1,1,0,6.6,3.427,3.427,0,0,1-3.541-3.3" fill="#222020"></path>
          <path id="Path_7" data-name="Path 7" d="M240.877,29.6h-.471V25.358h1.415a1.522,1.522,0,0,1,1.415,1.415,1.492,1.492,0,0,1-1.179,1.415l1.179,1.416h-.707l-1.652-1.889h.709c.707,0,1.187-.351,1.179-.942a.981.981,0,0,0-.944-.942h-.944Z" fill="#222020"></path>
          <path id="Path_8" data-name="Path 8" d="M131.389,64.851c-2.1,2.635-5.553,5.777-10.064,5.777a6.178,6.178,0,0,1-5.428-2.559,12.28,12.28,0,0,1-1.808-7.084c0-9.424,6.841-23.4,16.289-23.4,4.57,0,6.278,3.287,6.907,6.043,1.376,6.032-1.213,15.356-5.9,21.228M105.267,39.464a8.489,8.489,0,0,1-3.765.093c-.844-.2-1.3-.529-1.36-.967-.012-.1-.043-.321.721-.635a6.14,6.14,0,0,1,1.54-.375c.245,0,.484.013.714.034a7.3,7.3,0,0,1,.726.1c.229.042.448.094.658.154s.408.128.6.2.37.159.539.247.344.192.5.3a5.606,5.606,0,0,1,.458.336l.074.06a11.728,11.728,0,0,1-1.409.453m68.581,0a9.219,9.219,0,0,1-1.917.258,7.3,7.3,0,0,1-1.849-.165,2.718,2.718,0,0,1-1.091-.482.7.7,0,0,1-.269-.488c-.018-.14,0-.165.043-.212a1.713,1.713,0,0,1,.676-.419,5.715,5.715,0,0,1,1.109-.313c.2-.035.353-.054.431-.063l.327.008c.133,0,.262.015.4.027s.246.024.362.04.238.035.362.058.22.043.336.07.211.051.321.083.21.064.3.094.2.072.3.11.183.076.283.122.177.084.259.127.172.093.255.143.17.1.241.149.157.106.239.167.151.114.224.172c.018.016.038.031.057.047a9.636,9.636,0,0,1-1.391.467m54.573,0a8.488,8.488,0,0,1-3.765.092c-.844-.2-1.3-.529-1.359-.967-.015-.1-.043-.321.72-.635a6.145,6.145,0,0,1,1.539-.375c.246,0,.484.013.716.034.248.021.491.055.726.1s.447.094.658.154.407.128.6.2a5.816,5.816,0,0,1,.537.246,5.753,5.753,0,0,1,.506.3,5.227,5.227,0,0,1,.458.336l.074.06a11.987,11.987,0,0,1-1.409.454m13.231-2.982-2.718-2.8c-.015.011-2.094,1.532-4.1,2.758q-.678.416-1.32.78-.291-.342-.615-.66c-.227-.223-.462-.434-.695-.623s-.507-.391-.769-.564-.54-.336-.838-.494-.6-.293-.905-.415a10.122,10.122,0,0,0-.968-.33c-.337-.1-.684-.178-1.025-.24s-.718-.114-1.088-.146-.752-.05-1.14-.05l-.138,0a9.967,9.967,0,0,0-2.794.662c-2.242.922-3.369,2.648-3.094,4.736s1.845,3.645,4.3,4.236a12.424,12.424,0,0,0,5.608-.1A17.5,17.5,0,0,0,232,42.321c.009.021.016.042.023.063.071.2.135.408.193.608s.114.422.162.631a14.467,14.467,0,0,1,.289,1.827,18.645,18.645,0,0,1,.081,2.016c-.007.684-.049,1.41-.127,2.155s-.189,1.488-.333,2.251-.324,1.526-.534,2.3c-.215.788-.458,1.563-.722,2.306-.271.762-.574,1.523-.9,2.262s-.689,1.477-1.068,2.177-.8,1.4-1.223,2.053-.882,1.286-1.355,1.879a21,21,0,0,1-1.478,1.671,17.738,17.738,0,0,1-1.58,1.425,14.5,14.5,0,0,1-1.66,1.147,12.074,12.074,0,0,1-1.726.841,10.457,10.457,0,0,1-1.78.519,8.977,8.977,0,0,1-4.206-.152,5.783,5.783,0,0,1-1.752-.876,6.059,6.059,0,0,1-1.33-1.377,8.357,8.357,0,0,1-.986-1.916,12.631,12.631,0,0,1-.608-2.42,18.008,18.008,0,0,1-.2-2.815,24.064,24.064,0,0,1,.22-3.086,29.4,29.4,0,0,1,.625-3.228,31.992,31.992,0,0,1,2.362-6.393,28.209,28.209,0,0,1,1.669-2.921,24,24,0,0,1,1.936-2.587c.3-.352.614-.688.921-1l1.365-1.381-2.764-2.729-1.364,1.382c-.369.372-.737.772-1.1,1.189a28.063,28.063,0,0,0-2.248,3,32.433,32.433,0,0,0-1.9,3.318,35.868,35.868,0,0,0-2.649,7.171,33.129,33.129,0,0,0-.709,3.662,28.413,28.413,0,0,0-.255,3.584,21.9,21.9,0,0,0,.242,3.424c.075.489.177.961.287,1.423-.551.517-1.437,1.346-1.835,1.672a15.875,15.875,0,0,1-2.622,1.776,11.52,11.52,0,0,1-2.865,1.059,16.484,16.484,0,0,1-3.7.375,11.866,11.866,0,0,1-4.348-.779,8.913,8.913,0,0,1-3.2-2.1,8,8,0,0,1-1.881-3.185,9.962,9.962,0,0,1-.317-4.253,15.136,15.136,0,0,1,1.34-4.254,31.874,31.874,0,0,1,3.4-5.574,52.3,52.3,0,0,1,5.716-6.4,75.212,75.212,0,0,1,8.268-6.816l4.915-3.522-25.85,0-.56.524c-.018.017-.295.274-.763.671-.453.384-1.174.975-2.047,1.607q-.358.26-.71.5l-.126-.139c-.1-.111-.21-.22-.313-.322s-.226-.217-.347-.326-.233-.2-.356-.3-.247-.195-.368-.284-.26-.186-.4-.282-.264-.17-.4-.25-.281-.162-.43-.24-.3-.149-.439-.214-.308-.138-.471-.2-.308-.118-.477-.177-.322-.1-.48-.149-.34-.094-.508-.133-.349-.078-.525-.109-.353-.061-.537-.087-.367-.044-.552-.06-.37-.029-.568-.038-.376-.011-.569-.011l-.136,0c-.064.005-.41.032-.9.121a9.461,9.461,0,0,0-1.89.541,5.513,5.513,0,0,0-2.175,1.512,4.047,4.047,0,0,0-.922,3.221,4.588,4.588,0,0,0,1.6,2.935,6.428,6.428,0,0,0,2.705,1.3,10.993,10.993,0,0,0,2.87.27,13.079,13.079,0,0,0,2.737-.369,14.661,14.661,0,0,0,2.63-.953c.012.033.024.064.034.093.036.1.071.21.1.309s.066.206.093.3.058.21.089.333c.027.1.05.2.075.306.065.286.121.578.168.884s.088.617.12.945.054.648.066.977.02.68.015,1.034-.017.7-.038,1.062-.052.729-.089,1.088-.086.745-.141,1.12-.122.758-.192,1.134-.154.765-.244,1.151-.186.767-.291,1.155-.216.766-.338,1.152-.25.77-.382,1.145-.278.763-.43,1.141-.308.754-.472,1.125-.336.738-.51,1.1-.365.723-.56,1.082-.384.7-.593,1.044-.41.674-.629,1.009-.433.646-.66.959-.457.62-.694.917-.477.584-.723.863-.5.549-.755.808-.511.506-.78.746-.529.463-.8.679-.544.42-.82.611-.554.367-.842.537-.568.319-.856.46-.567.263-.867.38-.589.216-.88.3-.6.16-.9.219-.61.1-.911.133a9.419,9.419,0,0,1-2.2-.042,7.131,7.131,0,0,1-1.092-.242,5.888,5.888,0,0,1-.937-.375,5.67,5.67,0,0,1-.813-.5,6.044,6.044,0,0,1-.712-.625,6.511,6.511,0,0,1-.621-.753,7.648,7.648,0,0,1-.537-.893,9.055,9.055,0,0,1-.449-1.024,11.66,11.66,0,0,1-.354-1.154c-.1-.407-.188-.834-.254-1.262-.068-.446-.119-.907-.15-1.368s-.049-.957-.046-1.451.021-1,.058-1.519.091-1.042.161-1.567.161-1.07.265-1.6.225-1.08.362-1.624.289-1.09.456-1.627.355-1.089.55-1.621.41-1.067.635-1.59.472-1.057.718-1.551c.265-.531.533-1.034.8-1.5.285-.5.578-.979.873-1.43s.617-.913.941-1.343.648-.839.995-1.243c.3-.349.613-.685.923-1l1.364-1.381-2.765-2.729-1.363,1.382c-.371.374-.74.774-1.1,1.191-.408.474-.8.964-1.164,1.451s-.737,1.017-1.083,1.548c-.336.513-.669,1.059-.992,1.624-.3.526-.605,1.1-.9,1.692-.277.559-.55,1.145-.81,1.747s-.492,1.189-.712,1.784-.425,1.2-.616,1.814-.358,1.22-.512,1.828-.292,1.23-.409,1.834-.218,1.223-.3,1.828-.144,1.212-.186,1.806-.067,1.2-.069,1.778.016,1.174.055,1.739.1,1.131.186,1.685.2,1.1.328,1.625c.045.183.1.362.151.541l-.012.011c-3.026,2.871-6.075,4.21-9.6,4.21-1.915,0-3.277-.536-4.045-1.588a6.148,6.148,0,0,1-.478-5.133l1.224-3.285a34.221,34.221,0,0,0,1.769-4.756l20.8-55.9-4.142-.01-15.9,42.724c-1.318-5.75-5.212-9.047-10.689-9.047-7.6,0-13.5,6.158-16.9,13.486,0-.723-.029-1.434-.1-2.108a18.417,18.417,0,0,0-.369-2.317q-.1-.418-.214-.832c-.079-.279-.167-.555-.261-.826-.064-.18-.13-.358-.2-.536q.669-.381,1.373-.811c2.15-1.315,3.728-2.481,3.794-2.53l1.559-1.157-2.311-3.119L115.19,34.1c-.016.012-1.514,1.119-3.509,2.338q-.678.416-1.32.78-.292-.342-.614-.659c-.224-.221-.459-.432-.7-.625a9.643,9.643,0,0,0-2.511-1.472c-.314-.125-.639-.236-.968-.331s-.684-.177-1.025-.239-.718-.114-1.088-.146-.751-.05-1.138-.05l-.138,0a9.97,9.97,0,0,0-2.795.662c-2.242.922-3.37,2.648-3.1,4.736s1.846,3.646,4.3,4.236a12.424,12.424,0,0,0,5.608-.1,17.586,17.586,0,0,0,2.645-.914q.009.03.021.06c.07.2.135.407.193.611s.115.422.163.631a14.832,14.832,0,0,1,.289,1.825,18.74,18.74,0,0,1,.081,2.016c-.007.691-.051,1.416-.128,2.157s-.188,1.488-.333,2.251-.324,1.531-.533,2.3-.454,1.55-.722,2.305-.575,1.524-.9,2.263-.686,1.47-1.067,2.176-.8,1.406-1.223,2.052-.883,1.286-1.356,1.881a21.673,21.673,0,0,1-1.477,1.67,17.831,17.831,0,0,1-1.582,1.426,14.379,14.379,0,0,1-1.659,1.145,11.974,11.974,0,0,1-1.726.842,10.378,10.378,0,0,1-1.779.518A8.927,8.927,0,0,1,90.9,70.3a5.8,5.8,0,0,1-1.752-.876,6.084,6.084,0,0,1-1.331-1.377,8.386,8.386,0,0,1-.986-1.917,12.6,12.6,0,0,1-.608-2.419,18.254,18.254,0,0,1-.2-2.815,24.528,24.528,0,0,1,.22-3.087,29.065,29.065,0,0,1,.626-3.227,31.971,31.971,0,0,1,2.361-6.392A28.786,28.786,0,0,1,90.9,45.266a24.066,24.066,0,0,1,1.939-2.588c.3-.348.609-.684.921-1L95.128,40.3l-2.766-2.729L91,38.95c-.372.377-.741.777-1.1,1.19a27.908,27.908,0,0,0-2.25,3,33.032,33.032,0,0,0-1.9,3.318,36.111,36.111,0,0,0-2.648,7.171,32.567,32.567,0,0,0-.708,3.659,28.15,28.15,0,0,0-.256,3.587,21.849,21.849,0,0,0,.241,3.422c.059.38.143.74.223,1.1l-.105.153c-2.4,3.5-4.915,5.132-7.922,5.132-1.938,0-3.314-.542-4.094-1.609A6.047,6.047,0,0,1,70,64.023L93.766,0,89.623,0,68.472,56.988l-.078-.029-.668,1.824c-2.93,8.01-6.446,11.9-10.748,11.9-1.91,0-3.248-.508-3.979-1.508-1.016-1.393-.845-3.574-.387-5.039L63.889,33.68H59.7L48.954,62.837l-.028.081c-.782,2.444-.946,5.973.936,8.552,1.033,1.414,3.106,3.1,7.116,3.1,4.1,0,7.168-2.209,9.415-4.965a7.618,7.618,0,0,0,.957,1.762c1.066,1.461,3.186,3.2,7.231,3.2,3.685,0,6.863-1.614,9.661-4.9q.194.318.4.617a9.884,9.884,0,0,0,2.19,2.258,9.619,9.619,0,0,0,2.921,1.468,11.878,11.878,0,0,0,3.508.5,13.6,13.6,0,0,0,2.589-.251A14.319,14.319,0,0,0,98.3,73.55a15.879,15.879,0,0,0,2.287-1.113,18.512,18.512,0,0,0,2.108-1.453,21.918,21.918,0,0,0,1.928-1.739,25.38,25.38,0,0,0,1.75-1.977c.549-.69,1.077-1.421,1.568-2.173.482-.735.95-1.519,1.39-2.334.309-.572.6-1.163.879-1.758a16.039,16.039,0,0,0,2.526,9.318,10.066,10.066,0,0,0,8.593,4.192c4.351,0,8.484-2.07,12.034-5.993a7.939,7.939,0,0,0,1.3,2.869c1.059,1.451,3.164,3.182,7.182,3.182a16.9,16.9,0,0,0,11.3-4.414c.029.042.054.087.083.128a10.555,10.555,0,0,0,1,1.213,9.886,9.886,0,0,0,1.188,1.044,9.661,9.661,0,0,0,1.376.849,9.962,9.962,0,0,0,1.545.62,11.061,11.061,0,0,0,1.687.375,12.791,12.791,0,0,0,1.821.127c.433,0,.872-.022,1.307-.064s.857-.1,1.284-.187.836-.184,1.239-.3.807-.255,1.205-.411.793-.328,1.156-.507.756-.385,1.125-.6.72-.442,1.08-.69.693-.5,1.03-.765.664-.545.983-.834.637-.591.949-.906.6-.628.893-.958.575-.669.856-1.02.543-.7.8-1.063.52-.736.761-1.107.488-.762.717-1.147.458-.786.673-1.185.422-.8.626-1.216.392-.82.577-1.239.361-.836.528-1.257.328-.846.482-1.279.3-.855.429-1.285.264-.864.38-1.294.227-.867.326-1.3.192-.865.275-1.3.155-.859.218-1.285.117-.858.163-1.291.08-.847.1-1.264.04-.838.044-1.245,0-.826-.017-1.233-.043-.814-.083-1.2-.087-.793-.148-1.171-.134-.776-.219-1.145c-.033-.144-.068-.289-.1-.415s-.073-.276-.114-.421-.082-.277-.127-.421-.089-.268-.138-.417c-.049-.133-.1-.264-.148-.4s-.1-.243-.145-.363q.468-.316.94-.659c.973-.7,1.778-1.363,2.281-1.79.117-.1.223-.191.319-.275h12.579q-2.178,1.8-4.111,3.651a56.329,56.329,0,0,0-6.141,6.883A35.838,35.838,0,0,0,182.88,54.4a18.7,18.7,0,0,0-1.668,5.393,13.777,13.777,0,0,0,.463,5.908,11.882,11.882,0,0,0,2.787,4.719,12.819,12.819,0,0,0,4.581,3.022,15.731,15.731,0,0,0,5.767,1.047,20.234,20.234,0,0,0,4.558-.473,15.326,15.326,0,0,0,3.813-1.408,19.552,19.552,0,0,0,3.266-2.205c.24-.195.566-.485.911-.8.141.234.287.461.441.681a9.963,9.963,0,0,0,2.19,2.257,9.653,9.653,0,0,0,2.921,1.468,11.891,11.891,0,0,0,3.507.5,13.57,13.57,0,0,0,2.589-.251,14.329,14.329,0,0,0,2.444-.712,15.834,15.834,0,0,0,2.287-1.113,18.424,18.424,0,0,0,2.108-1.453,21.85,21.85,0,0,0,1.929-1.739,25.518,25.518,0,0,0,1.75-1.977c.549-.69,1.077-1.423,1.566-2.173s.953-1.522,1.39-2.332c.427-.79.832-1.615,1.2-2.454s.706-1.68,1.008-2.532c.3-.833.568-1.7.81-2.585s.439-1.744.6-2.594c.165-.87.293-1.735.38-2.574.092-.865.141-1.714.149-2.517a22.518,22.518,0,0,0-.1-2.432,18.372,18.372,0,0,0-.368-2.318c-.065-.279-.135-.556-.215-.836s-.167-.553-.262-.82c-.061-.18-.128-.359-.2-.538q.667-.381,1.372-.811c2.15-1.315,3.728-2.481,3.23-2.113Z" fill="#222020"></path>
          <path id="Path_9" data-name="Path 9" d="M63.974,31.172a3.058,3.058,0,1,0-3.058-3.058,3.062,3.062,0,0,0,3.058,3.058" fill="#222020"></path>
          <path id="Path_10" data-name="Path 10" d="M31.1,84.357c-3.333,8.252-7.768,13.379-11.574,13.379-2.376,0-4.053-.724-5.127-2.214-1.818-2.523-1.894-7.249-.218-12.277L30.373,39.431c6.192,8.743,8.1,26.681.728,44.926m2.751-46.793h20.9l1.484-3.884H32.51L45.089.02,40.95.006,28.364,33.68H1.484L0,37.564H26.923l-16.4,44.393C8.4,88.3,8.674,94.221,11.249,97.793c1.258,1.746,3.716,3.828,8.278,3.828,5.586,0,11.117-5.762,15.176-15.81a71.205,71.205,0,0,0,4.972-27.3c-.147-6.278-1.345-14.557-5.823-20.944" fill="#222020"></path>
          </g>
        </svg>

        <!-- Lise Charmel -->
        <svg xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        version="1.1" id="Calque_1" x="0px" y="0px" 
        viewBox="0 0 670.8 113" 
        width="200"
        height="100"
        style="enable-background:new 0 0 670.8 113;" 
        xml:space="preserve"
        fill="black">
                  <path d="M9.3,0c0,0,0,96.4,0,96.8h32c-1.9,2.7-7.2,3.5-7.2,3.5H0V0L9.3,0z"/>
                  <path d="M638.8,15.3c0,0,0,82.3,0,82.8h32c-1.9,2.7-7.2,3.5-7.2,3.5h-34.1V15.3L638.8,15.3z"/>
                  <path d="M95.3,101.6c9.1-2.9,17.6-11.9,18.3-21.7c1.4-8.9-1.8-17.6-9.2-23.6c-9.7-9.5-28-9.6-29.8-25.6  c-0.5-4.9,1.7-9.5,5.9-12.2c5.5-2.4,13-3,18,1.1c2.3,1.6,4.5,3.8,7,5.7c0,0-0.8-1.9-2.4-4.2c-1.5-2.2-3.4-3.8-4.8-4.9  c-1.4-1.1-3.9-2.1-6.9-2.6c-7.6-1.7-14.3,1.8-19,8c-4.1,5.7-4.8,14.5-1.4,20.3c6.5,11.9,20,13.5,29,22c5.7,5.4,7.2,13.8,5.8,21.1  c-1.5,5.6-6.2,11.6-11.7,13.7c-11.6,4.3-22.3-2.3-29.3-10.6l0.4,1.8c1.2,2.7,2.8,3.9,4,5.3C69.3,95.2,80.8,106.5,95.3,101.6z"/>
                  <path d="M132.6,95.9l0.3-46.7c0-1.3,0.1-1,0.1-2c0,0,24.6-0.3,26.9-0.8c2.3-0.5,2.1-1.8,2.1-1.8h-29V18.1l1.1,0  c5.3,0,10.6,0,15.5,0h8.9c0,0,3.4,0.1,5.3-2.8h-39.3c0,1.7,0,2.9,0,4.6v72.8v8.6h37.2h1.8c0,0-0.8-2-5.4-3.1h-25.6V95.9z"/>
                  <path d="M582,95.9l0.3-46.7c0-1.3,0.1-1,0.1-2c0,0,24.6-0.3,26.9-0.8c2.3-0.5,2.1-1.8,2.1-1.8h-29V18.1l1.1,0  c5.3,0,10.6,0,15.5,0h8.9c0,0,3.4,0.1,5.3-2.8h-39.3c0,1.7,0,2.9,0,4.6v72.8v8.6h37.2h1.8c0,0-0.8-2-5.4-3.1H582V95.9z"/>
                  <path d="M220.9,103.5c-16.1-10-24.9-28.3-24-46.7h0c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.3h0c-0.9-18.3,7.9-36.7,24-46.7  c32.6-17.4,61.7,3,61.7,3s-6.1-5.3-14.3-8.6c-14.1-3.8-29.5-5.7-43.7,0c-14.9,4.6-27.1,18.6-33.3,32.4c-2.8,6.3-4.1,13.1-4.1,20h0  c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3h0c0,6.9,1.3,13.7,4.1,20c6.2,13.8,18.4,27.8,33.3,32.4c14.2,5.6,29.6,4.3,43.7,0.2  c9.7-3.8,14.3-8.8,14.3-8.8S253.6,120.9,220.9,103.5z"/>
                  <rect x="48.1" y="15.7" width="8.2" height="85.7"/>
                  <polygon points="338.3,15.6 338.3,49.3 297.9,49.3 297.9,15.6 289.8,15.6 289.8,99.5 297.9,99.5 297.9,51.7 338.3,51.7   338.3,99.5 346.4,99.5 346.4,15.6 "/>
                  <g>
                    <path d="M389.5,25.3c-0.1-0.3-0.3-0.7-0.4-1.2c-2.5-9.6-8.2-9.6-8.2-9.6l-26.2,85.6h3.9l8-25.8h29.1l7.8,25.8h7.7   L389.5,25.3z M367.5,71.5l13.8-44.6l13.5,44.6H367.5z"/>
                  </g>
                  <g>
                    <path d="M439.9,55.3l-2.6-3.1l-0.4-0.4c0,0,1.3,0.2,2.4,0.2c0,0,0,0,0,0c8.5-0.6,16.6-2.8,21.6-10.1   c3.2-4,3-9.5,1.6-14.1c-7.6-16.1-27.3-13-42.3-12.9l-0.1,0.4v4l0.1,74.1c0,0.8,0.1,1.3-0.1,1.9v5.1h8v-3.8c0,0,0-0.1,0-0.2   c0.1-7.4-0.1-15.2-0.1-22.9l0,0V53.4v-0.6v-0.5l5.3,7.2L460,95.2l2.9,3c3.3,2.2,6.7,2.6,10.3,2.2l0.5-0.1   C461.9,85.5,451.4,70.3,439.9,55.3z M430.2,48.7h-1.9v-3.9l-0.1-17.6h0v-6.4l0-0.8c0,0,0,0,0,0v-2.2h7.3c0.5,0,1,0,1.6,0h0.5v0   c6.5,0.3,12.5,2.7,15.7,8.9c2.1,4.2,2.2,9.4,0.1,13.7C449,48.8,439,49.1,430.2,48.7z"/>
                  </g>
                  <g>
                    <g>
                      <path d="M546.9,30.9l0-2.7l-1.5,3.7c-10.1,22.5-18.6,45.6-28.4,68c-0.3,0.7-1,0.7-1.3,0.4    c-9.4-19-16.8-38.7-25.8-57.7c-0.7-1.6-1.4-3.2-2-4.8v-0.1l-4.3-11.3v12l0,0v51.7c0,0.3,0.1,0.7,0.1,1v8.7h-3.6V15.5h6.2l1.1,2    l15.3,34.2l15.2,34.2c0,0,0,0,0,0l0.6,1.4l7-16.8c5.7-13.5,11.3-27.1,16.9-40.8l5.6-13.4l0.3-0.8l7,0.1V100h-8.3L546.9,30.9z"/>
                      <path d="M546.9,30.9l0-2.7l-1.5,3.7c-10.1,22.5-18.6,45.6-28.4,68c-0.3,0.7-1,0.7-1.3,0.4    c-9.4-19-16.8-38.7-25.8-57.7c-0.7-1.6-1.4-3.2-2-4.8v-0.1l-4.3-11.3v12l0,0v51.7c0,0.3,0.1,0.7,0.1,1v8.7h-3.6V15.5h6.2l1.1,2    l15.3,34.2l15.2,34.2c0,0,0,0,0,0l0.6,1.4l7-16.8c5.7-13.5,11.3-27.1,16.9-40.8l5.6-13.4l0.3-0.8l7,0.1V100h-8.3L546.9,30.9z"/>
                    </g>
                  </g>
          </svg>

        <!-- Promise -->
        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" data-name="Capa 1" 
        viewBox="0 0 288 84.22"
        width="200"
        height="100">
          <path 
          d="M49.35,8.46H56c4.5,0,7,1.89,7,5.37a5.07,5.07,0,0,1-4.74,5.37h0l5.08,9.15H61.11l-4.93-9H51.24v9H49.35Zm6.54,9.29c3.34,0,5.22-1,5.22-3.77s-1.88-3.78-5.22-3.78H51.24v7.55Z" transform="translate(0 -8)"/><path id="Trazado_656" data-name="Trazado 656" d="M66.19,18.33c0-6.24,3.49-10.3,8.42-10.3S83,12.09,83,18.33s-3.49,10.31-8.42,10.31S66.19,24.72,66.19,18.33Zm15,0c0-5.37-2.75-8.56-6.53-8.56s-6.53,3.2-6.53,8.56S70.84,27,74.61,27,81.14,23.85,81.14,18.33Z" transform="translate(0 -8)"/><path id="Trazado_657" data-name="Trazado 657" d="M85.94,23.41l1.74-.58A5.59,5.59,0,0,0,93.34,27c3,0,4.93-1.31,4.93-3.62,0-2-1-3.2-5.22-4.5s-6.53-2.47-6.53-5.81C86.52,10.2,89.13,8,92.76,8a6.5,6.5,0,0,1,6.82,4.64L98,13.4a5.09,5.09,0,0,0-5.22-3.63c-2.62,0-4.36,1.45-4.36,3.34,0,2.18,1.31,3.05,5.52,4.36s6.24,2.76,6.24,6-2.9,5.51-7,5.51A7.47,7.47,0,0,1,85.94,23.41Z" transform="translate(0 -8)"/><path id="Trazado_658" data-name="Trazado 658" d="M104.52,8.46h11.9V10.2h-10V17H114v1.74H106.4v8H117V28.5H104.52Z" transform="translate(0 -8)"/><path id="Trazado_659" data-name="Trazado 659" d="M120.77,8.46h6.68c4.5,0,7,1.89,7,5.37a5.07,5.07,0,0,1-4.74,5.37h-.05l5.08,9.15h-2.18l-4.93-9h-4.94v9h-1.89Zm6.54,9.29c3.33,0,5.22-1,5.22-3.77s-1.89-3.78-5.22-3.78h-4.65v7.55Z" transform="translate(0 -8)"/><path id="Trazado_660" data-name="Trazado 660" d="M144,23.41l1.74-.58A5.59,5.59,0,0,0,151.4,27c3,0,4.94-1.31,4.94-3.62,0-2-1-3.2-5.23-4.5s-6.53-2.47-6.53-5.81c0-2.9,2.61-5.08,6.24-5.08a6.5,6.5,0,0,1,6.82,4.65l-1.59.72a5.08,5.08,0,0,0-5.23-3.62c-2.61,0-4.35,1.45-4.35,3.34,0,2.17,1.3,3,5.51,4.35s6.24,2.76,6.24,6-2.9,5.52-7,5.52A7.49,7.49,0,0,1,144,23.41Z" transform="translate(0 -8)"/><path id="Trazado_661" data-name="Trazado 661" d="M167.51,8.32h2l7.11,20h-2l-2.18-6.1h-8.13l-2.17,6.1h-1.88Zm4.35,12.19-3.48-9.87h0l-3.49,9.87Z" transform="translate(0 -8)"/><path id="Trazado_662" data-name="Trazado 662" d="M180.14,8.46h2.47L189.29,26h0L196,8.46h2.47v20h-1.89V11.66h0c-.29.87-.72,2.18-1.3,3.48L190,28.36h-1.74l-5.08-13.22c-.43-1.3-.87-2.17-1.31-3.62h0V28.36h-1.74Z" transform="translate(0 -8)"/><path id="Trazado_663" data-name="Trazado 663" d="M202.79,18.33c0-6.24,3.48-10.3,8.42-10.3s8.42,4.06,8.42,10.3-3.48,10.31-8.42,10.31S202.79,24.72,202.79,18.33Zm15,0c0-5.37-2.76-8.56-6.53-8.56s-6.53,3.2-6.53,8.56S207.44,27,211.21,27,217.74,23.85,217.74,18.33Z" transform="translate(0 -8)"/><path id="Trazado_664" data-name="Trazado 664" d="M223.69,8.46h2l11,16.55h0V8.46h1.74v20h-1.74l-11.33-17h0v17h-1.74Z" transform="translate(0 -8)"/></g><path d="M106.67,40.83q-.93,0-1.86,0a24.79,24.79,0,0,0-25.7,23.83q0,.93,0,1.86c0,15,10.74,25.55,25.7,25.55a24.73,24.73,0,0,0,25.68-23.76c0-.59,0-1.19,0-1.79A24.78,24.78,0,0,0,106.67,40.83Zm-1.86,44.85c-10,0-17.71-8.41-17.71-19.16s7.69-19.3,17.71-19.3,17.7,8.42,17.7,19.3S114.82,85.68,104.81,85.68Z" transform="translate(0 -8)"/><polygon points="137.61 77.11 134.13 77.11 134.13 83.35 146.61 83.35 146.61 77.11 143.85 77.11 143.85 39.8 144 39.8 160.69 83.79 162.15 83.79 178.99 39.8 179.13 39.8 179.13 77.11 176.37 77.11 176.37 83.36 189.43 83.36 189.43 77.11 186.1 77.11 186.1 39.8 189.58 39.8 189.58 33.56 174.77 33.56 161.71 67.53 148.79 33.56 134.27 33.56 134.27 39.8 137.76 39.8 137.76 77.11 137.61 77.11"/><polygon points="198.87 77.11 195.97 77.11 195.97 83.35 209.19 83.35 209.19 77.11 206.27 77.11 206.27 39.8 209.18 39.8 209.18 33.56 195.96 33.56 195.96 39.8 198.86 39.8 198.87 77.11"/><path d="M215.56,91.35h6.1V87.28a17.52,17.52,0,0,0,12.2,4.94c9,0,15.67-6.25,15.67-14.66a15.81,15.81,0,0,0-4.21-10.75c-5.8-5.8-17.71-5.08-21.63-9A6.26,6.26,0,0,1,222,53.61c0-3.78,3.34-6.4,8.28-6.4A12.15,12.15,0,0,1,240.82,53v1.74h6.1V41.41h-6.1v3.34a17.81,17.81,0,0,0-11.18-3.92c-7.4,0-14.51,4.36-14.51,13.65a12.24,12.24,0,0,0,3.34,9c7.69,7.69,23.37,4.35,23.37,14.07a8.29,8.29,0,0,1-8.29,8.28h-.42c-4.79,0-8.42-2.9-11.61-8.13v-2.6h-6.1V91.35Z" transform="translate(0 -8)"/><polygon points="257.52 77.11 253.6 77.11 253.6 83.35 288 83.35 288 69.7 281.9 69.7 281.9 77.11 265.06 77.11 265.06 60.85 276.67 60.85 276.67 54.61 265.06 54.61 265.06 39.8 281.9 39.8 281.9 46.77 288 46.77 288 33.55 253.6 33.55 253.6 39.79 257.51 39.79 257.52 77.11"/><path d="M19.6,41.7H0V48H3.62V85.1H0v6.25H14.81V85.1H11.18V72.33h5.51c7.12,0,11.76-.87,15.25-4.21a15.49,15.49,0,0,0,4.2-11C36.14,50.85,33.24,41.7,19.6,41.7ZM17.27,66.09H11.18V47.8h8.56c5.52,0,8.71,3.2,8.71,9C28.45,61.88,26.42,66.09,17.27,66.09Z" transform="translate(0 -8)"/><path d="M71.27,85,64.61,71.17A12.26,12.26,0,0,0,70.27,68a15.57,15.57,0,0,0,4.21-11c0-6.38-2.76-15.38-16.55-15.38H38.47v6.23H42.1V85H38.47v6.25h14.8V85H49.64V72.19h7.84l9.15,19H76.5V85ZM54.94,66.09H48.85v0h0V47.8h8.56c5.52,0,8.71,3.2,8.71,9C66.12,61.88,64.09,66.09,54.94,66.09Z" transform="translate(0 -8)"/></g></svg>


        <!-- Simone Perele -->
        <svg xmlns="http://www.w3.org/2000/svg" id="Calque_1" data-name="Calque 1" 
        viewBox="0 0 6729.51 1280.91" 
        width="200"
        height="100"
        fill="black">
          <g>
            <g>
              <g>
                <path d="m380.34,537.97v-1.38c0-74.74-48.38-117.19-161.81-141.91-108.45-23.22-128.3-48.5-128.3-89.91v-1.4c0-43.48,40.65-73.86,98.85-73.86,50.43,0,94.05,16.44,137.31,51.74l3.66,3,37.44-49.67-3.43-2.8c-53-42.54-104.92-60.68-173.58-60.68-95.16,0-164.21,57.67-164.21,137.11v1.41c0,89.99,66.62,122.91,166.67,144.65,103.19,21.77,122.72,47.66,122.72,87.83v1.4c0,45.93-42.62,78.02-103.69,78.02s-110.47-19.57-163.53-67.53l-3.48-3.18-39.94,47.28,3.3,2.95c60.31,53.82,124.35,78.89,201.56,78.89,100.38,0,170.44-58.38,170.44-141.97Z"/>
                <path d="m209.9,692.15c-80.38,0-147.01-26.05-209.69-81.99l-12.16-10.87,55.8-66.05,12.85,11.75c50.55,45.68,95.55,64.33,155.29,64.33,53.86,0,91.47-27.06,91.47-65.81v-1.4c0-29.48-8.32-53.79-113.03-75.88-91.64-19.91-176.36-52.65-176.36-156.6v-1.41c0-86.53,74.2-149.33,176.42-149.33,71.69,0,125.89,18.95,181.23,63.37l12.61,10.3-52.17,69.21-13.5-11.07c-40.94-33.41-82.12-48.98-129.57-48.98-51.01,0-86.64,25.35-86.64,61.65v1.4c0,30.77,8.51,54.38,118.64,77.96,118.6,25.85,171.47,73.3,171.47,153.85v1.38c0,90.78-75.11,154.18-182.66,154.18Zm-187.82-95.3c56.3,48.32,116.17,70.88,187.82,70.88,93.16,0,158.23-53.36,158.23-129.76v-1.38c0-68.76-44.09-106.42-152.2-129.98-103.1-22.08-137.91-47.78-137.91-101.84v-1.4c0-50.68,45.67-86.08,111.07-86.08,50.96,0,95.26,15.78,138.81,49.54l22.7-30.11c-48.6-37.36-96.93-53.41-160.1-53.41-88.07,0-151.99,52.53-151.99,124.9v1.41c0,82.1,60.09,111.65,157.05,132.72,97.69,20.61,132.34,46.72,132.34,99.77v1.4c0,53.13-47.66,90.24-115.9,90.24-64.05,0-112.6-19.05-165.8-65.43l-24.1,28.53Z"/>
              </g>
              <g>
                <rect x="567.9" y="178.03" width="63.95" height="494.97"/>
                <path d="m644.06,685.22h-88.38V165.82h88.38v519.4Zm-63.95-24.43h39.52V190.25h-39.52v470.55Z"/>
              </g>
              <g>
                <polygon points="907.61 290.47 1077.6 539.75 1085.23 539.75 1255.19 289.79 1255.19 673.01 1319.16 673.01 1319.16 178.03 1256.62 178.03 1082.12 439.51 907.57 178.03 845.03 178.03 845.03 673.01 907.61 673.01 907.61 290.47"/>
                <path d="m1331.37,685.22h-88.4v-355.75l-151.28,222.49h-20.55l-151.32-221.91v355.16h-87.01V165.82h81.29l168.01,251.69,167.97-251.69h81.29v519.4Zm-63.97-24.43h39.54V190.25h-43.8l-181.03,271.26-181.08-271.26h-43.8v470.55h38.15V250.87l186.01,272.78,186-273.55v410.69Z"/>
              </g>
              <g>
                <path d="m1757.64,681.33c141.88,0,253.03-112.36,253.03-255.8v-1.41c0-145.03-108.17-254.42-251.64-254.42s-253.09,112.37-253.09,255.83v1.41c0,145.03,108.21,254.39,251.7,254.39Zm-185.61-255.8v-1.41c0-110.94,79.77-194.61,185.61-194.61s186.99,86.13,186.99,196.02v1.41c0,110.94-79.83,194.59-185.61,194.59s-186.99-86.11-186.99-196Z"/>
                <path d="m1757.64,693.55c-150.46,0-263.92-114.62-263.92-266.61v-1.41c0-150.3,116.53-268.04,265.3-268.04s263.86,114.63,263.86,266.64v1.41c0,150.29-116.51,268.01-265.24,268.01Zm1.39-511.63c-135.07,0-240.87,107.01-240.87,243.62v1.41c0,138.06,102.96,242.18,239.49,242.18s240.81-106.99,240.81-243.58v-1.41c0-138.08-102.93-242.21-239.43-242.21Zm0,451.83c-111.71,0-199.21-91.46-199.21-208.21v-1.41c0-117.91,85.04-206.83,197.82-206.83s199.21,91.47,199.21,208.23v1.41c0,117.9-85.04,206.81-197.82,206.81Zm-1.39-392.02c-98.85,0-173.39,78.41-173.39,182.4v1.41c0,103.06,76.77,183.78,174.78,183.78s173.39-78.4,173.39-182.38v-1.41c0-103.07-76.77-183.8-174.78-183.8Z"/>
              </g>
              <g>
                <polygon points="2575.74 673.01 2626.29 673.01 2626.29 178.03 2563.67 178.03 2563.67 558.74 2265.8 179.82 2264.43 178.03 2206.25 178.03 2206.25 673.01 2268.83 673.01 2268.83 283.28 2574.37 671.26 2575.74 673.01"/>
                <path d="m2638.5,685.22h-68.71l-5.03-6.43-283.7-360.26v366.69h-87.01V165.82h76.4l5.04,6.54,275.98,351.08V165.82h87.04v519.4Zm-56.83-24.43h32.4V190.25h-38.18v403.79l-317.42-403.79h-40v470.55h38.15V248.02l325.06,412.77Z"/>
              </g>
              <g>
                <polygon points="2874.85 613.9 2874.85 453 3139.97 453 3139.97 393.89 2874.85 393.89 2874.85 237.14 3171.2 237.14 3171.2 178.03 2810.86 178.03 2810.86 673.01 3174.66 673.01 3174.66 613.9 2874.85 613.9"/>
                <path d="m3186.87,685.22h-388.23V165.82h384.77v83.53h-296.35v132.33h265.12v83.53h-265.12v136.48h299.82v83.53Zm-363.8-24.43h339.38v-34.67h-299.82v-185.34h265.12v-34.67h-265.12v-181.19h296.35v-34.68h-335.91v470.55Z"/>
              </g>
            </g>
            <g>
              <g>
                <polygon points="5419.03 51.05 5363.22 50.82 5441.73 150.8 5497.13 150.8 5419.03 51.05"/>
                <path d="m5522.2,163.01h-86.41l-97.77-124.51,86.98.36,97.21,124.15Zm-74.53-24.43h24.38l-58.99-75.34-24.63-.1,59.24,75.45Z"/>
              </g>
              <g>
                <g>
                  <path d="m3755.61,176.63h-186.4v494.96h63.97v-171.4h113.39c97.3,0,195.45-50.58,195.45-163.53v-1.38c0-96.39-73.15-158.65-186.4-158.65Zm-122.44,59.81h118.29c80.02,0,125.9,36.79,125.9,100.92v1.41c0,61.18-51.71,102.29-128.68,102.29h-115.5v-204.61Z"/>
                  <path d="m3645.39,683.8h-88.4V164.41h198.62c120.65,0,198.62,67.07,198.62,170.87v1.38c0,121.4-104.3,175.74-207.66,175.74h-101.18v171.4Zm-63.97-24.43h39.54v-171.4h125.6c91.2,0,183.23-46.79,183.23-151.31v-1.38c0-88.96-68.37-146.44-174.19-146.44h-174.19v470.53Zm167.26-206.1h-127.72v-229.04h130.5c86.48,0,138.11,42.29,138.11,113.13v1.41c0,68.49-56.62,114.51-140.89,114.51Zm-103.29-24.43h103.29c69.66,0,116.46-36.2,116.46-90.08v-1.41c0-77.18-71.22-88.7-113.68-88.7h-106.07v180.18Z"/>
                </g>
                <g>
                  <path d="m4682.67,671.58h63.98v-188.78h131.92l140.86,188.78h78.77l-150.32-199.94c81.71-17.3,128.38-69.71,128.38-144.69v-1.4c0-38.81-13.79-73.98-38.81-98.99-32.19-32.2-82.41-49.94-141.29-49.94h-213.49v494.96Zm209.28-435.14c74.92,0,119.65,34.09,119.65,91.19v1.37c0,57.97-47.27,95.4-120.32,95.4h-144.63v-187.96h145.3Z"/>
                  <path d="m5122.66,683.8h-109.36l-140.86-188.78h-113.58v188.78h-88.41V164.41h225.7c62.19,0,115.43,19.01,149.93,53.52,27.33,27.32,42.39,65.54,42.39,107.63v1.4c0,75.16-43.37,129.75-119.77,152.06l153.96,204.79Zm-97.11-24.43h48.18l-147.13-195.7,18.75-3.97c76.54-16.2,118.69-63.35,118.69-132.74v-1.4c0-35.56-12.51-67.64-35.23-90.35-29.88-29.9-77-46.36-132.65-46.36h-201.27v470.53h39.55v-188.78h150.26l140.86,188.78Zm-134.27-222.75h-156.85v-212.39h157.52c81.34,0,131.87,39.62,131.87,103.41v1.37c0,65.37-52.02,107.62-132.54,107.62Zm-132.42-24.43h132.42c66.68,0,108.11-31.88,108.11-83.19v-1.37c0-50.19-39.16-78.98-107.44-78.98h-133.09v163.53Z"/>
                </g>
                <g>
                  <polygon points="5652.14 235.74 5652.14 176.63 5291.82 176.63 5291.82 671.58 5655.62 671.58 5655.62 612.47 5355.77 612.47 5355.77 451.6 5620.91 451.6 5620.91 392.46 5355.77 392.46 5355.77 235.74 5652.14 235.74"/>
                  <path d="m5667.83,683.8h-388.23V164.41h384.74v83.54h-296.36v132.29h265.13v83.57h-265.13v136.44h299.85v83.54Zm-363.8-24.43h339.37v-34.69h-299.85v-185.3h265.13v-34.71h-265.13v-181.15h296.36v-34.69h-335.88v470.53Z"/>
                </g>
                <g>
                  <polygon points="5898.25 176.63 5834.28 176.63 5834.28 671.58 6171.69 671.58 6171.69 611.77 5898.25 611.77 5898.25 176.63"/>
                  <path d="m6183.91,683.8h-361.84V164.41h88.39v435.14h273.45v84.24Zm-337.41-24.43h312.98v-35.38h-273.45V188.84h-39.53v470.53Z"/>
                </g>
                <g>
                  <polygon points="6420.24 451.6 6685.37 451.6 6685.37 392.46 6420.24 392.46 6420.24 235.74 6716.6 235.74 6716.6 176.63 6356.25 176.63 6356.25 671.58 6720.07 671.58 6720.07 612.47 6420.24 612.47 6420.24 451.6"/>
                  <path d="m6732.28,683.8h-388.24V164.41h384.77v83.54h-296.36v132.29h265.13v83.57h-265.13v136.44h299.83v83.54Zm-363.81-24.43h339.38v-34.69h-299.83v-185.3h265.13v-34.71h-265.13v-181.15h296.36v-34.69h-335.92v470.53Z"/>
                </g>
              </g>
            </g>
          </g>
          <g>
            <g>
              <polygon points="4174.24 451.6 4439.37 451.6 4439.37 392.46 4174.24 392.46 4174.24 235.74 4470.57 235.74 4470.57 176.63 4110.28 176.63 4110.28 671.58 4474.08 671.58 4474.08 612.47 4174.24 612.47 4174.24 451.6"/>
              <path d="m4486.29,683.8h-388.22V164.41h384.71v83.54h-296.33v132.29h265.12v83.57h-265.12v136.44h299.83v83.54Zm-363.79-24.43h339.36v-34.69h-299.83v-185.3h265.12v-34.71h-265.12v-181.15h296.33v-34.69h-335.86v470.53Z"/>
            </g>
            <g>
              <polygon points="4386.43 50.82 4327.52 51.05 4250.15 150.8 4305.55 150.8 4386.43 50.82"/>
              <path d="m4311.38,163.01h-86.17l96.3-124.15,90.58-.36-100.71,124.51Zm-36.3-24.43h24.64l61.03-75.45-27.23.11-58.44,75.34Z"/>
            </g>
          </g>
          <g>
            <g>
              <path d="m2889.58,969.79h-97.03v254.45h41.39v-84.74h51.17c60.71,0,101.53-34.45,101.53-86.4s-38.1-83.32-97.07-83.32Zm-3.45,130.73h-52.18v-91.42h53.56c17.27,0,57.38,4.42,57.38,45.7,0,27.77-23.07,45.72-58.75,45.72Z"/>
              <path d="m2840.06,1230.35h-53.61v-266.67h103.13c62.68,0,103.17,35.1,103.17,89.42s-43.26,92.5-107.64,92.5h-45.06v84.74Zm-41.39-12.21h29.18v-84.74h57.27c57.08,0,95.43-32.27,95.43-80.29s-35.7-77.21-90.96-77.21h-90.92v242.24Zm87.47-111.51h-58.29v-103.64h59.67c39.75,0,63.49,19.37,63.49,51.81s-25.46,51.83-64.86,51.83Zm-46.08-12.21h46.08c32.47,0,52.65-15.18,52.65-39.61,0-34.45-32.12-39.59-51.27-39.59h-47.45v79.21Z"/>
            </g>
            <g>
              <path d="m3123.41,968.05l-115.94,256.2h43.51l28.49-63.47h121.46l28.11,63.47h44.9l-115.93-256.2h-34.59Zm60.51,154.06h-87.42l43.86-97.79,43.57,97.79Z"/>
              <path d="m3283.41,1230.35h-58.35l-28.11-63.47h-113.53l-28.49,63.47h-56.93l121.47-268.41h42.47l121.46,268.41Zm-50.4-12.21h31.46l-110.41-243.98h-26.71l-110.42,243.98h30.09l28.49-63.47h129.38l28.11,63.47Zm-39.68-89.93h-106.26l53.31-118.87,52.96,118.87Zm-87.4-12.21h68.59l-34.18-76.72-34.41,76.72Z"/>
            </g>
            <g>
              <path d="m3541.76,1048.3c0-20.5-7.34-39.11-20.6-52.43-16.86-16.84-42.89-26.08-73.33-26.08h-110.45v254.45h41.4v-93.34h57.89l69.62,93.34h51.25l-75.8-100.77c37.84-10.61,60.02-37.85,60.02-75.18Zm-162.98-39.2h66.97c34.47,0,54.26,14.67,54.26,40.89s-21.42,42.26-54.61,42.26h-66.62v-83.16Z"/>
              <path d="m3569.77,1230.35h-66.54l-69.63-93.34h-48.72v93.34h-53.62v-266.67h116.56c32.08,0,59.66,9.89,77.65,27.86,14.45,14.51,22.39,34.66,22.39,56.75,0,37.21-20.31,65.36-56.09,78.37l77.99,103.68Zm-60.42-12.21h35.95l-73.81-98.12,8.6-2.41c35.31-9.9,55.56-35.16,55.56-69.3,0-18.84-6.68-35.93-18.82-48.12-15.67-15.65-40.18-24.28-69.01-24.28h-104.34v242.24h29.19v-93.34h67.06l69.63,93.34Zm-63.95-119.77h-72.73v-95.37h73.08c37.8,0,60.37,17.57,60.37,47s-23.83,48.37-60.71,48.37Zm-60.52-12.21h60.52c29.91,0,48.5-13.85,48.5-36.15,0-30.27-30.17-34.79-48.15-34.79h-60.86v70.94Z"/>
            </g>
            <g>
              <rect x="3622.13" y="969.79" width="41.43" height="254.45"/>
              <path d="m3669.67,1230.35h-53.65v-266.67h53.65v266.67Zm-41.43-12.21h29.22v-242.24h-29.22v242.24Z"/>
            </g>
            <g>
              <path d="m3848.63,1076.98c-55.13-11.81-59.52-24.41-59.52-40.36,0-18.64,18.06-31.62,44.01-31.62,23.69,0,44.27,7.78,64.78,24.46l5.75,4.71,24.43-32.42-5.4-4.34c-27.14-21.8-53.77-31.08-88.89-31.08-49.9,0-86.1,30.57-86.1,73.37,0,47.78,34.5,65.06,86.34,76.3,52.59,11.1,56.8,23.54,56.8,39.35,0,20.15-18.67,33.71-46.4,33.71-29.87,0-52.36-9.32-77.6-32.14l-5.43-4.94-26.07,30.84,5.15,4.61c30.76,27.47,63.46,40.27,102.9,40.27,52.5,0,89.18-30.89,89.18-75.78,0-50.21-44.82-66.41-83.91-74.94Z"/>
              <path d="m3843.37,1233.8c-41.03,0-75.02-13.29-106.96-41.82l-9.58-8.57,33.98-40.21,10.12,9.19c24,21.7,45.3,30.55,73.49,30.55,24.1,0,40.29-11.09,40.29-27.6,0-11.02,0-22.41-51.96-33.37-47.38-10.27-91.18-27.34-91.18-82.27,0-46.06,38.78-79.48,92.21-79.48,36.68,0,64.41,9.7,92.71,32.43l10.02,8.04-31.82,42.23-10.67-8.73c-19.36-15.75-38.72-23.08-60.91-23.08s-37.9,10.49-37.9,25.51c0,11.14,0,22.67,54.7,34.38h.02c24.27,5.3,88.72,19.36,88.72,80.91,0,48.21-39.18,81.88-95.29,81.88Zm-99.55-51.57l.72.65c29.57,26.41,60.97,38.71,98.83,38.71,48.91,0,83.07-28.65,83.07-69.67,0-45.57-39.98-60.44-79.1-68.97-54.39-11.65-64.34-24.74-64.34-46.33s20.61-37.73,50.11-37.73c25.16,0,46.96,8.21,68.63,25.83l.85.69,17.04-22.61-.79-.63c-25.96-20.84-51.39-29.74-85.06-29.74-46.35,0-79.99,28.29-79.99,67.27,0,43.84,31.19,59.41,81.52,70.33,52.08,10.99,61.62,23.88,61.62,45.32,0,23.81-21.1,39.81-52.51,39.81s-55.2-9.77-81.7-33.72l-.76-.69-18.15,21.47Z"/>
            </g>
          </g>
          <g>
            <g>
              <polygon points="4174.24 451.6 4439.37 451.6 4439.37 392.46 4174.24 392.46 4174.24 235.74 4470.57 235.74 4470.57 176.63 4110.28 176.63 4110.28 671.58 4474.08 671.58 4474.08 612.47 4174.24 612.47 4174.24 451.6"/>
              <path d="m4486.29,683.8h-388.22V164.41h384.71v83.54h-296.33v132.29h265.12v83.57h-265.12v136.44h299.83v83.54Zm-363.79-24.43h339.36v-34.69h-299.83v-185.3h265.12v-34.71h-265.12v-181.15h296.33v-34.69h-335.86v470.53Z"/>
            </g>
            <g>
              <polygon points="4386.43 50.82 4327.52 51.05 4250.15 150.8 4305.55 150.8 4386.43 50.82"/>
              <path d="m4311.38,163.01h-86.17l96.3-124.15,90.58-.36-100.71,124.51Zm-36.3-24.43h24.64l61.03-75.45-27.23.11-58.44,75.34Z"/>
            </g>
          </g>
        </svg>
        
  		</div>
    </div>

	<hr class="hr-line" style='width:40%;'>
	<hr class="hr-line" style='width:60%;'>
	<hr class="hr-line" style='width:80%;'>
  <span class="flex">EST. 1998</span>
</Layout>

<style>

  span {
    font-family: 'Jacques';
    font-size: 0.75rem;
  }
	.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-card { 
  justify-content: left;
}
.second-card { 
  justify-content: right;
}
.second-frames { 
  justify-content: center;
	}
.third-card { 
  justify-content: left;
}

.third-frames {
  flex-wrap:wrap;
  justify-content: center;
}

.third-frames > svg{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.frame-x-overlap-left {
  transform: translateX(-15%);
  transform: translateY(-15%);
}

.frame-x-overlap-right {
  transform: translateX(15%);
}

.frame-box-border {    
  width: 150px;
  height: 200px;
  box-sizing: content-box;
  object-fit: fill;
  /* border: 1px solid #000; */
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.frame-window {

  border-radius: var(--frameWindowRadius);
}

.frame-square {
  position: relative;
  z-index: -1;
  border-radius: 25% 25% 25% 25%;
}

.frame-oval {
  position: relative;
  z-index: -1;
  border-radius: 100% 100% 100% 100%;
}


.frame-window-reversed {
	width: 150px;
	height: 200px;
  border-radius: var(--frameWindowRadiusReversed);
}

	.hr-line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 1px;
  --un-border-opacity: 1 !important;
  border-color: rgb(0 0 0 / var(--un-border-opacity)) !important;
  border-style: solid;
}

@media only screen and (max-width: 640px) {
  .grid {
    
    display: grid;
    grid-template-rows: repeat(6, 0.5fr);
    grid-template-columns: none;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .flex {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 640px) {

  .first-frames { 
    grid-area: 1 / 1 / 2 / 2; 
  }
  .first-card { 
    grid-area: 1 / 2 / 2 / 4; 
  }
  .second-card { 
    grid-area: 2 / 1 / 3 / 3; 
  }

  .second-frames { 
    grid-area: 2 / 3 / 3 / 3; 
  }

  .third-frames { 
  
  grid-area: 3 / 1 / 4 / 2; 
  }

  .third-card { 
    grid-area: 3 / 2 / 4 / 4; 
  }
}
</style>
