---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Frame from '../components/PictureFrame.astro';
---

<Layout title="Rintima Lingerie">
	<hr class="hr-line" style='width:80%;'>
	<hr class="hr-line" style='width:60%;'>
	<hr class="hr-line" style='width:40%;'>
		
		<div class="grid">


			<div class="first-card">
				<Card
					title="Who are we?"
					body="A Lingerie, Swimwear, Beachwear and Underwear boutique with over 26 years of experience"
				/>
			</div>

			<div class="first-frames flex-frames">
          <Frame class="frame-box-border frame-window frame-x-overlap-right" imagePath='/src/assets/frames/bodouir-female-1.jpg' altText='Framed picture' />
          <Frame class="frame-box-border frame-square frame-x-overlap-left " imagePath='/src/assets/frames/beach-female-1.jpg' altText='Framed picture' />
      </div>

			<div class="second-card">
				<Card
					title="What we do."
					body="We assist you in selecting garments that fit you, your style, your comfort"
				/>
			</div>

			<div class="second-frames flex-frames">
        <Frame class="frame-box-border frame-oval frame-x-overlap-right " imagePath='/src/assets/frames/beach-male-1.jpg' altText='Framed picture' />
				<Frame class="frame-box-border frame-window-reversed frame-x-overlap-left" imagePath='/src/assets/frames/beach-female-2.jpg' altText='Framed picture' />
				
			</div>

			<div class="third-card">
				<Card
					title="Our brands."
					body="Premium, hand selected collections, to empower you, bolden you, functional or just cosy"
				/>
			</div>
		</div>

	<hr class="hr-line" style='width:40%;'>
	<hr class="hr-line" style='width:60%;'>
	<hr class="hr-line" style='width:80%;'>
</Layout>

<style>
	.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.first-frames { 
  /* grid-area: 1 / 1 / 2 / 2;  */
    display: flex;
    align-items: center;
	}
.first-card { 
  /* grid-area: 1 / 2 / 2 / 4;  */

	display: flex;
  justify-content: left;
  align-items: center;
}
.second-card { 
  /* grid-area: 2 / 1 / 3 / 3;  */

	display: flex;
  justify-content: right;
  align-items: center;}
.second-frames { 
  /* grid-area: 2 / 3 / 3 / 3;  */

	display: flex;
  justify-content: center;
  align-items: center;
	}
.third-frames { 
  
  /* grid-area: 3 / 1 / 4 / 2;  */
}
.third-card { 
  
  /* grid-area: 3 / 2 / 4 / 4;  */

	display: flex;
  justify-content: left;
  align-items: center;
}

.frame-x-overlap-left {
  transform: translateX(-15%);
  transform: translateY(-15%);
}

.frame-x-overlap-right {
  transform: translateX(15%);
}

.frame-box-border {    
  width: 150px;
  height: 200px;
  box-sizing: content-box;
  object-fit: fill;
  /* border: 1px solid #000; */
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.frame-window {

  border-radius: var(--frameWindowRadius);
}

.frame-square {
  position: relative;
  z-index: -1;
  border-radius: 25% 25% 25% 25%;
}

.frame-oval {
  position: relative;
  z-index: -1;
  border-radius: 100% 100% 100% 100%;
}


.frame-window-reversed {
	width: 150px;
	height: 200px;
  border-radius: var(--frameWindowRadiusReversed);
}

	.hr-line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 1px;
  --un-border-opacity: 1 !important;
  border-color: rgb(0 0 0 / var(--un-border-opacity)) !important;
  border-style: solid;
}

@media only screen and (max-width: 640px) {
  .grid {
    
    display: grid;
    grid-template-rows: repeat(6, 0.5fr);
    grid-template-columns: none;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }


  .flex-frames {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
</style>
