---
interface Props {
	title: string;
	body: string;
}

const {  title, body } = Astro.props;
---

<div class="card">
		<h2>
			{title}
		</h2>
		<p>
			{body}
		</p>
</div>

<style>
	.card {
		max-width: 35ch;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(0.5rem - 1px);
		border-radius: 2px;
		border: 2px solid black;
		color: black;
		background-color: var(--accent);
		opacity: 1;
		box-shadow: 3px 3px rgb(0, 0, 0);

	}
	h2 {
		margin: 0;
		font-size: 3rem;
		font-family: 'Jacques';
	}
	p {
		font-size: 1rem;
		margin-top: 0.5rem;
		margin-bottom: 0;
		font-family:  'sans-serif';
	}

	@media only screen and (max-width: 768px) {
		.card{
			max-width: 20ch;
		}
		p {
			font-size: 0.75rem;
		}
		h2 {
			font-size: 2rem;
		}
	}
</style>
