---
import { Picture } from 'astro:assets'
import heroLogo from '/src/assets/Rintima_Logo_Transparency_3_No_Text.png'


const imgFormats = import.meta.env.IMG_FORMATS
---

<footer>
<div class="grid">

  <div class="address-area">
      <div class="text-wrapper">
        <h2>
            <a href="https://maps.app.goo.gl/3yx25bKXVSGpkYeH9">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="#e8dcc4" d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7" />
            </svg></a>
            Address
          </h2>
        </a>
        <p>Rua José Relvas</p>
        <p>71C</p>
        <p>Parede</p>
      </div>
  </div>

  <div class="hours-area">
    <div class="text-wrapper">
        <h2>Working Hours</h2>
        <h4>Mon - Fri</h4>
        <p>9h - 13h30</p>
        <p>15h - 19h</p>
        <h4>Saturday</h4>
        <p>9h - 13h30</p>
    </div>
  </div>


  <div class="contact-area">
    <div class="text-wrapper">
        <h2>Contact Us</h2>
        <h4>
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="#e8dcc4" d="M6.62 10.79c1.44 2.83 3.76 5.15 6.59 6.59l2.2-2.2c.28-.28.67-.36 1.02-.25c1.12.37 2.32.57 3.57.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1A17 17 0 0 1 3 4a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z" />
            </svg>
        We speak Portuguese and are more than happy to assist you!
      </h4>
        <p>+351 964 367 344</p>
        <h4>
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="#e8dcc4" d="m20 8l-8 5l-8-5V6l8 5l8-5m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2" />
          </svg>
          Speak another language? Feel free to email us and we'll reply as soon as we can!</h4>
        <p>hello@rintima.pt</p>
    </div>
  </div>

  <div class="logo-area">
    <div class="image-container">
      <a href="/" aria-label="Logo Image">
        <Picture class="footer-image"
          src={heroLogo}
          formats={[imgFormats]}
          alt="Logo"
        />
      </a>
    </div>
  </div>
</div>
</footer>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "address-area", "hours-area", "contact-area", "logo-area";
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.logo-area { 
    display: flex;
    align-items: center;
  }
/* .address-area { grid-area: 1 / 2 / 1 / 3;  }
.hours-area { grid-area: 1 / 3 / 1 / 4;   } */

  .address-area, .hours-area, .contact-area {
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
  }

  .address-area {
  
    text-align: left;
  }

  .hours-area {
    text-align: center;
  }

  .contact-area {
    text-align: left;
  }

    footer {
        display: flex;
        position: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text-wrapper {
        font-family: 'Jacques';
    }

    .image-container {
    width: 100%;
  }

  .footer-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media only screen and (max-width: 768px)
  {
    h3 {
      flex-wrap: nowrap;
    }  
    .grid {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "address-area contact-area hours-area", "logo-area";
    }
    .contact-area {
      grid-area: 2 / 1 / 2 / 3;
      text-align: center;
    }
    .logo-area {
      grid-area: 3 / 1 / 3 / 3;
    }
  }
</style>